<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379030150261-r96ipvv2mn5ghk7n8dgicoekisposnot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379030150261-r96ipvv2mn5ghk7n8dgicoekisposnot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379030150261-famqrgldnvde7o4adk92dvru3v0nih8v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXS9-OLagkVeChfIOeWrLCkHLPlUG9PPg</string>
	<key>GCM_SENDER_ID</key>
	<string>379030150261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.missingperson.helpline</string>
	<key>PROJECT_ID</key>
	<string>mphelpline-cb694</string>
	<key>STORAGE_BUCKET</key>
	<string>mphelpline-cb694.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379030150261:ios:c75472307f4e0b6d99ac3c</string>
</dict>
</plist>